APP_IMAGE=ghcr.io/listeik/cloud-data-base-first:latest
APP_PORT=8080

POSTGRES_DB=cloud_storage
POSTGRES_USER=cloud_storage
POSTGRES_PASSWORD=change-me

REDIS_PASSWORD=change-me

MINIO_ROOT_USER=cloud-storage
MINIO_ROOT_PASSWORD=change-me
STORAGE_BUCKET=user-files
STORAGE_USER_QUOTA=10GB
STORAGE_MAX_FILE_SIZE=128MB
